nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav p {
    margin: 0;
}

.menu {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    list-style: none;
    padding: 16px 0;
    position: relative;
}

.menu-item {
    transition: all ease-in-out 100ms;
    margin: 0 32px;
    border: solid rgb(95, 94, 144) 2px;
    border-radius: 32px;
    text-align: center;
}

.menu-item a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 16px;
    width: 120px;
    z-index: 2;
}

.menu-item:hover,
.menu-item:active {
    transition: all ease-in-out 100ms;
    transform: translateY(-1px);
    background-color: rgb(95, 94, 144);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.menu-item:hover a {
    color: white;
}

.menu-dropdown {
    visibility: hidden;
    list-style: none;
    padding: 24px 0 16px;
    position: absolute;
    right: -16px;
    top: 34px;
    display: none;
}

.dropdown-item {
    background-color: rgb(95, 94, 144);
    margin-bottom: 8px;
    width: 90px;
}

.dropdown-item a {
    width: 100%;
}

nav ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/* TEMP */
.fancy {
    font-weight: bold;
    background: -webkit-linear-gradient(92deg, #95d7e3, #eb76ff);
    background-size: 600vw 600vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textAnimate 5s linear infinite alternate;
}

@keyframes textAnimate {
    from {
        filter: hue-rotate(0deg);
        background-position-x: 0%;
    }
    to {
        filter: hue-rotate(360deg);
        background-position-x: 600vw;
    }
}
