nav {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  background-color: #30475e;
}

.navwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1360px;
  width: 100%;
  height: 80px;
}

.navwrapper p {
  margin: 0 0 0 16px;
}

.navwrapper div {
  display: none;
}

.navwrapper .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  list-style: none;
  padding: 16px 0;
}

.navwrapper .menu-item {
  margin: 0 16px;
  background-color: #f05454;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 4px 4px 0px black;
          box-shadow: 4px 4px 0px black;
  -webkit-transition: all ease-in-out 100ms;
  transition: all ease-in-out 100ms;
}

.navwrapper .menu-item a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 16px;
  padding: 8px 16px;
  width: 120px;
  border: solid #f05454 4px;
  -webkit-transition: all ease-in-out 100ms;
  transition: all ease-in-out 100ms;
}

.navwrapper .menu-item:hover {
  background-color: transparent;
}

.navwrapper .menu-item:hover > ul {
  visibility: visible;
  background-color: #30475e;
  opacity: 1;
}

.navwrapper .menu-item:hover a {
  -webkit-transition: all ease-in-out 100ms;
  transition: all ease-in-out 100ms;
  color: white;
}

.navwrapper .menu-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  list-style: none;
  padding: 16px 16px;
  position: absolute;
  height: 220px;
  width: 180px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  opacity: 0;
  z-index: 3;
}

.navwrapper .nav-toggle {
  visibility: hidden;
}

@media (max-width: 1000px) {
  .navwrapper .menu {
    clear: both;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
  }
  .navwrapper .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    margin-right: 8px;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .navwrapper .menu-icon .navicon {
    background: #f05454;
    display: block;
    height: 2px;
    position: relative;
    -webkit-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
    width: 24px;
  }
  .navwrapper .navicon:after,
  .navwrapper .navicon:before {
    background: #f05454;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .navwrapper .menu-icon .navicon:before {
    top: 8px;
  }
  .navwrapper .menu-icon .navicon:after {
    top: -8px;
  }
  .navwrapper .menu-btn {
    display: none;
  }
  .navwrapper .menu {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 30;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    right: 0;
    top: 64px;
    display: none;
    padding: 0 16px 16px;
    background-color: #30475e;
  }
  .navwrapper .menu li {
    margin: 16px 0 0;
    width: 300px;
  }
  .navwrapper .menu li a {
    width: 100%;
  }
  .navwrapper .menu li ul {
    display: none;
  }
  .navwrapper .menu li:hover {
    background-color: #30475e;
  }
}

.nav-toggle:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-toggle:checked ~ span:nth-last-child(2) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.nav-toggle:checked ~ span:nth-last-child(1) {
  -webkit-transform: rotate(-45deg) translate(-2px, -3px);
          transform: rotate(-45deg) translate(-2px, -3px);
}

.nav-toggle:checked ~ .menu {
  display: block;
}

.fancy {
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
  color: #f05454;
  -webkit-filter: drop-shadow(4px 4px 0px #000);
          filter: drop-shadow(4px 4px 0px #000);
  margin-left: 16px;
}

.nav-background {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  height: 160px;
  z-index: -1;
  background-image: linear-gradient(1deg, transparent 0 50%, #30475e 50.5%);
}
/*# sourceMappingURL=nav.css.map */