nav {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  background-color: #30475e;
}

.navwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1360px;
  width: 100%;
  height: 80px;
}

.navwrapper p {
  margin: 0 0 0 16px;
}

.navwrapper div {
  display: none;
}

.navwrapper .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  list-style: none;
  padding: 16px 0;
}

.navwrapper .menu-item {
  margin: 0 16px;
  background-color: #f05454;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 4px 4px 0px black;
          box-shadow: 4px 4px 0px black;
  -webkit-transition: all ease-in-out 100ms;
  transition: all ease-in-out 100ms;
}

.navwrapper .menu-item a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 16px;
  padding: 8px 16px;
  width: 120px;
  border: solid #f05454 4px;
  -webkit-transition: all ease-in-out 100ms;
  transition: all ease-in-out 100ms;
}

.navwrapper .menu-item:hover {
  background-color: transparent;
}

.navwrapper .menu-item:hover > ul {
  visibility: visible;
  background-color: #30475e;
  opacity: 1;
}

.navwrapper .menu-item:hover a {
  -webkit-transition: all ease-in-out 100ms;
  transition: all ease-in-out 100ms;
  color: white;
}

.navwrapper .menu-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  list-style: none;
  padding: 16px 16px;
  position: absolute;
  height: 220px;
  width: 180px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  opacity: 0;
  z-index: 3;
}

@media (max-width: 1000px) {
  .navwrapper div {
    display: block;
    margin: 8px 16px 0 0;
  }
  .navwrapper div input {
    display: block;
    width: 40px;
    height: 32px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    position: absolute;
  }
  .navwrapper div input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .navwrapper div input:checked ~ span:nth-last-child(2) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  .navwrapper div input:checked ~ span:nth-last-child(1) {
    -webkit-transform: rotate(-45deg) translate(-2px, -3px);
            transform: rotate(-45deg) translate(-2px, -3px);
  }
  .navwrapper div span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #f05454;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .navwrapper div span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  .navwrapper div span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  .navwrapper .menu {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 30;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    right: 0;
    top: 64px;
    display: none;
    padding: 0 16px 16px;
    background-color: #30475e;
  }
  .navwrapper .menu li {
    margin: 16px 0 0;
    width: 300px;
  }
  .navwrapper .menu li a {
    width: 100%;
  }
  .navwrapper .menu li ul {
    display: none;
  }
  .navwrapper .menu li:hover {
    background-color: #30475e;
  }
}

.displayblock {
  display: block !important;
}

.fancy {
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
  color: #f05454;
  -webkit-filter: drop-shadow(4px 4px 0px #000);
          filter: drop-shadow(4px 4px 0px #000);
  margin-left: 16px;
}

.nav-background {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  height: 160px;
  z-index: -1;
  background-image: linear-gradient(1deg, transparent 0 50%, #30475e 50.5%);
}
/*# sourceMappingURL=nav.css.map */