* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222831;
  color: white;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1360px;
  padding: 0 16px;
  width: 100%;
  min-height: 100vh;
}

@media print {
  body * {
    margin: 0 !important;
    color: #000 !important;
    text-decoration: none !important;
  }
  body body {
    margin: 72px !important;
  }
  body nav {
    display: none;
    height: 0;
  }
  body header {
    display: none;
    height: 0;
    margin: 0;
  }
  body main {
    margin: 0;
  }
  body main .about-image {
    display: none;
  }
  body main .about-image img {
    display: none;
  }
  body main .about-image blockquote {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  body footer img {
    width: 0;
  }
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 20px;
  background-color: #1d1d1d;
  border-radius: 20px;
}

::-webkit-scrollbar-track:vertical {
  background-color: #3f3f3f;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

header {
  margin: 160px 0 0;
}

header h1 {
  text-align: center;
  font-size: 64px;
  -webkit-filter: drop-shadow(4px 4px 0px #000);
          filter: drop-shadow(4px 4px 0px #000);
}

header .header-slant {
  position: absolute;
  background-image: linear-gradient(1deg, transparent 0 50%, #f05454 50.5%);
  height: 500px;
  width: 100%;
  top: 60px;
  left: 0;
  z-index: -2;
}

@media (max-width: 600px) {
  header {
    margin: 140px 0 0;
  }
  header h1 {
    font-size: 48px;
  }
  header .header-slant {
    height: 400px;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 92%;
  margin: 240px auto 180px;
}

.about .about-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2;
  margin: 0 64px 0 0;
  padding: 16px;
}

.about .about-image img {
  border-radius: 50%;
  width: 460px;
  height: 460px;
  margin: 0 0 32px;
}

.about .about-image blockquote {
  font-weight: 600;
  margin: 0 0 32px;
  text-align: center;
}

.about .about-image blockquote em {
  font-weight: 200;
}

.about .about-image blockquote em:before {
  content: "\A";
  white-space: pre;
}

.about .about-content {
  font-weight: 600;
  line-height: 2;
}

.about .about-content h2 {
  font-size: 28px;
  color: #f05454;
}

.about .about-content h3 {
  font-size: 24px;
  color: #f05454;
}

.about .about-content p {
  margin: 0 0 32px;
}

.about .about-content h4 {
  font-size: 24px;
  color: #f05454;
}

.about .about-content a {
  color: white;
  -webkit-text-decoration: underline 1px #f05454;
          text-decoration: underline 1px #f05454;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.about .about-content a:hover {
  background-color: #f05454;
}

@media (max-width: 1215px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 180px;
  }
  .about .about-image {
    margin: 0;
  }
  .about .about-image img {
    width: 300px;
    height: 300px;
  }
  .about .about-content {
    max-width: 600px;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -3;
  width: 100%;
  max-width: 92%;
  margin: 180px auto;
}

.home .introduction {
  text-align: center;
  margin: 32px 0;
  font-weight: 900;
}

.home .introduction span {
  color: #f05454;
}

.home h3 {
  font-size: 32px;
  margin: 64px 0 32px;
  text-align: center;
}

.home .goals {
  margin: 0 0 52px;
  max-width: 800px;
  line-height: 2;
}

.reflection-header {
  text-align: center;
  margin: 160px 0 120px;
}

@media (max-width: 638px) {
  .reflection-header h1 {
    font-size: 50px;
  }
}

@media (max-width: 638px) {
  .reflection-header h1 {
    font-size: 32px;
  }
}

.reflection-paragraph {
  margin: 32px auto;
  padding: 32px;
  max-width: 800px;
}

.reflection-paragraph p {
  margin: 0 0 40px;
  line-height: 2.5;
  text-indent: 50px;
}

.intro-paragraph {
  text-indent: 0 !important;
}

.reflection-paragraph p span {
  font-weight: 900;
  font-size: 32px;
  font-family: "Times New Roman", Times, serif;
  line-height: 1;
}

.reflection-paragraph h2 {
  text-align: center;
  margin: 80px 0 32px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  background-color: #30475e;
  margin-top: auto;
  background-image: url("./background.jpg");
  background-size: cover;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div img {
  margin: 0 8px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

footer div img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer div p {
  margin: 0 0 0 16px;
}

.content {
  position: relative;
  height: 100%;
  padding: 0 20px 64px;
  margin-top: 64px;
  pointer-events: none;
}

.content span {
  position: absolute;
  top: -160px;
}

.content h2 {
  text-align: center;
  margin: 32px 0 16px;
}

.content ul {
  -webkit-column-count: 1;
          column-count: 1;
  padding: 0;
}

.content ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.content ul li img {
  width: 100%;
  border-radius: 6px;
  margin: 12px 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.content ul li p {
  font-size: 13px;
  margin: 4px 0 24px;
}

.content .content-text {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  pointer-events: none;
}

@media (min-width: 48em) {
  .content {
    margin-top: 98px;
    pointer-events: all;
  }
  .content ul {
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 24px;
            column-gap: 24px;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 64px;
  max-width: 800px;
}

.contact-form {
  margin: 200px 0 0;
  max-width: 800px;
}

.contact-form input {
  height: 45px;
  width: 100%;
  margin: 0 0 32px;
  padding: 0 16px;
  background-color: #30475e;
  border: none;
  border-bottom: 2px solid #f05454;
  border-left: 2px solid #f05454;
  color: white;
}

.contact-form textarea {
  width: 100%;
  padding: 16px;
  resize: none;
  background-color: #30475e;
  border: none;
  border-bottom: 2px solid #f05454;
  border-left: 2px solid #f05454;
  color: white;
}

@media (max-width: 600px) {
  .contact-form {
    margin: 128px 0 0;
  }
}

.contact button {
  background-color: black;
  border: solid 1px #f05454;
  margin: 32px 0 0;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  color: white;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.contact button:hover {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
  border-left: solid 8px #f05454;
  color: #f05454;
}

@media (min-width: 43em) {
  .contact button {
    max-width: 256px;
  }
}
/*# sourceMappingURL=style.css.map */