* {
    box-sizing: border-box;
    margin: 0 auto;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222831;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1360px;
    padding: 0 16px;
    width: 100%;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 20px;
    background-color: #1d1d1d;
    border-radius: 20px;
}

::-webkit-scrollbar-track:vertical {
    background-color: #3f3f3f;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

header {
    margin: 160px 0 0;
    h1 {
        text-align: center;
        font-size: 64px;
        filter: drop-shadow(4px 4px 0px #000);
    }
    .header-slant {
        position: absolute;
        background-image: linear-gradient(
            1deg,
            transparent 0 50%,
            #f05454 50.5%
        );
        height: 500px;
        width: 100%;
        top: 60px;
        left: 0;
        z-index: -2;
    }
    @media (max-width: 600px) {
        margin: 140px 0 0;
        h1 {
            font-size: 48px;
        }
        .header-slant {
            height: 400px;
        }
    }
}

.about {
    display: flex;
    z-index: -3;
    width: 100%;
    max-width: 92%;
    margin: 240px auto 180px;
    .about-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 2;
        margin: 0 64px 0 0;
        padding: 16px;
        img {
            border-radius: 50%;
            width: 460px;
            height: 460px;
            margin: 0 0 32px;
        }
        blockquote {
            font-weight: 600;
            margin: 0 0 32px;
            text-align: center;
            em {
                font-weight: 200;
                &:before {
                    content: "\A";
                    white-space: pre;
                }
            }
        }
    }
    .about-content {
        font-weight: 600;
        line-height: 2;
        h2 {
            font-size: 28px;
            color: #f05454;
        }
        h3 {
            font-size: 24px;
            color: #f05454;
        }
        p {
            margin: 0 0 32px;
        }
        h4 {
            font-size: 24px;
            color: #f05454;
        }
        a {
            color: white;
            text-decoration: underline 1px #f05454;
            transition: all 100ms ease-in-out;
            &:hover {
                background-color: #f05454;
            }
        }
    }
    @media (max-width: 1215px) {
        flex-direction: column;
        margin-top: 180px;
        .about-image {
            margin: 0;
            img {
                width: 300px;
                height: 300px;
            }
        }
        .about-content {
            max-width: 600px;
        }
    }
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -3;
    width: 100%;
    max-width: 92%;
    margin: 180px auto;
    .introduction {
        text-align: center;
        margin: 32px 0;
        font-weight: 900;
        span {
            color: #f05454;
        }
    }
    h3 {
        font-size: 32px;
        margin: 64px 0 32px;
        text-align: center;
    }
    .goals {
        margin: 0 0 52px;
        max-width: 800px;
        line-height: 2;
    }
}

.reflection-header {
    text-align: center;
    margin: 160px 0 120px;
    @media (max-width: 638px) {
        h1 {
            font-size: 50px;
        }
    }
    @media (max-width: 638px) {
        h1 {
            font-size: 32px;
        }
    }
}

.reflection-paragraph {
    margin: 32px auto;
    padding: 32px;
    max-width: 800px;
}

.reflection-paragraph p {
    margin: 0 0 40px;
    line-height: 2.5;
    text-indent: 50px;
}

.intro-paragraph {
    text-indent: 0 !important;
}

.reflection-paragraph p span {
    font-weight: 900;
    font-size: 32px;
    font-family: "Times New Roman", Times, serif;
    line-height: 1;
}

.reflection-paragraph h2 {
    text-align: center;
    margin: 80px 0 32px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    background-color: #30475e;
    margin-top: auto;
    background-image: url("./background.jpg");
    background-size: cover;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin: 0 8px;
            transition: all 200ms ease-in-out;
            cursor: pointer;
            &:hover {
                transform: scale(1.2);
            }
        }
        p {
            margin: 0 0 0 16px;
        }
    }
}
