* {
    box-sizing: border-box;
    margin: 0 auto;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222831;
    color: white;
}

body {
    max-width: 1360px;
    padding: 0 32px;
    height: 100%;
}

header {
    margin: 160px 0 180px;
    h1 {
        text-align: center;
        font-size: 64px;
        filter: drop-shadow(4px 4px 0px #000);
    }
    .header-slant {
        position: absolute;
        background-image: linear-gradient(
            1deg,
            transparent 0 50%,
            #f05454 50.5%
        );
        height: 500px;
        width: 100%;
        top: 60px;
        right: 0;
        z-index: -2;
    }
}

main {
    display: flex;
    z-index: -3;
    width: 100%;
    max-width: 92%;
    margin: 0 auto 240px;
    .about-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 2;
        margin: 0 64px 0 0;
        padding: 16px;
        img {
            border-radius: 50%;
            width: 460px;
            height: 460px;
            margin: 0 0 32px;
        }
        blockquote {
            font-weight: 600;
            margin: 0 0 32px;
            text-align: center;
            em {
                font-weight: 200;
                &:before {
                    content: "\A";
                    white-space: pre;
                }
            }
        }
    }
    .about-content {
        font-weight: 600;
        line-height: 2;
        h2 {
            font-size: 28px;
            color: #f05454;
        }
        h3 {
            font-size: 24px;
            color: #f05454;
        }
        p {
            margin: 0 0 32px;
        }
        h4 {
            font-size: 24px;
            color: #f05454;
        }
        a {
            color: white;
            text-decoration: underline 1px #f05454;
            transition: all 100ms ease-in-out;
            &:hover {
                background-color: #f05454;
            }
        }
    }
}

.header-h1 {
    color: #54bab9;
}

.reflection-header {
    text-align: center;
    margin: 128px 0 32px;
}

.reflection-paragraph {
    margin: 32px auto;
    padding: 32px;
    max-width: 800px;
}

.reflection-paragraph p {
    margin: 0 0 40px;
    line-height: 2.5;
    text-indent: 50px;
}

.intro-paragraph {
    text-indent: 0 !important;
}

.reflection-paragraph p span {
    font-weight: 900;
    font-size: 32px;
    font-family: "Times New Roman", Times, serif;
    line-height: 1;
}

.reflection-paragraph h2 {
    text-align: center;
    margin: 80px 0 32px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 64px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    // margin: 256px 0 0;
    background-color: #30475e;
    bottom: -320px;
    left: 0;
    z-index: 20;
}
